version: '3.8'

services:
  smartresume:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: smartresume-app
    volumes:
      - ../configs:/app/configs
      - ../models:/app/models
      - ..:/app
    ports:
      - "4999:4999"
    environment:
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1
    command: python demo/web_app.py
